html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
*{
    font-family: 'Serif', montserrat !important;
}
body{
    overflow-x: hidden;
}
::selection {
    color: rgb(50, 49, 49) !important;
    background: rgb(96, 96, 96);
  }
:root {
    --light-green: #6B7B62 ;
    --dark-green: rgba(66, 76, 59, 1);
    --hover-text-color: rgba(255, 255, 255, 0.800);
    --hover-text-color: rgba(255, 255, 255, 0.4);
}
footer{
    background-image: url('assets/footer.webp');
    background-size: cover;
    
    background-position: center center;
}
a{
    text-decoration: none !important;
    color: white !important;
}
nav{
    transition: .25s linear;
}

.navbar-bg{
    background-color: #15200F !important; 
    color: white;
}
.navbar_dark{
    transition: .15s;
}
.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler{
    border: 0;
}
.footer-filter{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    height: 100%;
}
.salt-room-filter{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    height: 100%;
}

c-item {
    height: 300px;
   }

c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.conference{
    background-image: url(assets/conference.webp);
    background-size: cover;
    height: 100%;
    width: 100%;

}
.salt-room{
    background-image: url(assets/salt-room.webp);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.hero {
    background-image: url("assets/background.webp");
    background-size: cover !important;
    
   
}
.food {
    background-image: url("assets/kaja.webp");
        background-color: rgba(26, 26, 26, 0.618);
    background-blend-mode: multiply;
    background-size: cover;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}





.nav-link:hover{
    color: var(--hover-text-color) !important;
    transition: .2s linear;
}
.btn-primary:hover{
    background-color: var(--light-green) !important;
}
.btn-secondary:hover{
    background-color: var(--dark-green) !important;
}
i{
    transition: .2s linear;
}
a:hover i{
    color: var(--hover-text-color) !important;
    transition: .2s linear;
}

.bg-dark-green{
    background-color: var(--dark-green);
}
.bg-light-green{
    background-color: var(--light-green);
}
.text-title-color{
    color: var(--hover-text-color) !important;
}
.btn-primary{
    background-color: var(--dark-green) !important;
    border-color: var(--dark-green) !important;
}
.btn-secondary{
    background-color: var(--light-green) !important;
    border-color: var(--light-green) !important;
}
.card{
    transition: .4s;
}
.card:hover{
    transform: scale(1.05) !important;
    box-shadow: black !important;
    z-index: 1;
    transition: .4s;
}
.hero{
    height: 85vh;
}
.wrapper{
    position: relative;
    top: 57%;
    left: 10%;
}
.w-50{
    width: 50%;
}
.pdv{
    font-size: 15px !important;
}


@media (max-width:1200px){
    .no-padding{
        padding: 0 !important;
    }
    .card-width{
        max-width: 50vh !important;
    }
    
    
}
@media (max-width:991px) {
    .kozep{
        text-align: center !important;
    }
    .jc-center{
        justify-content: center !important;
    }
    .a-pt{
        padding-top: 15px !important;
    }
}
@media (max-width:991px) and (min-width:767px){
    .card-height{
        height: 350px !important;
    }
    .button-padding{
        margin-top: 14px !important;
    }
}


@media (max-width: 480px){
    .smaller-title{
        font-size: 32px !important;
    }
    .smaller-helikon{
        font-size: 37px !important;
    }
    .smaller-p{
        font-size: 15px !important;
    }
    .card-width{
        max-width: 90% !important;
        height: 65vh !important;
    }
    .btn-resp{
        width: 20vh !important; height: 45px !important; 
    }
    .bigger-title{
        font-size: 42px !important;
    }
}

@media (max-width:360px) {
    .card-width{
        max-width: 90% !important;
    }
    .top{
        top: 5% !important;
    }
}