*{
    font-family: montserrat;
}
body{
    overflow-x: hidden;
}
::selection {
    color: rgb(50, 49, 49) !important;
    background: rgb(96, 96, 96);
  }
:root {
    --light-green: #6B7B62 ;
    --dark-green: rgba(66, 76, 59, 1);
    --title-text-color: rgba(255, 255, 255, 0.37);
}
footer{
    background-image: url('assets/footer.jpg');
    background-size: cover;
    
    background-position: center center;
}

.footer-filter{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    height: 100%;
}
.salt-room-filter{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    height: 100%;
}
c-item {
    height: 300px;
   }
a{
    text-decoration: none !important;
    color: white !important;
}
c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.conference{
    background-image: url(assets/conference.png);
    background-size: cover;
    height: 100%;
    width: 100%;

}
.salt-room{
    background-image: url(assets/salt-room.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.gradient {background-image: url("assets/background.png");
    background-size: cover !important;
     background-position: center center;
     width: 100%;
    height: 100%; ;
}
.food {
    background-image: url("assets/kaja.jpg");
        background-color: rgba(26, 26, 26, 0.618);
    background-blend-mode: multiply;
    background-size: cover;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}





.nav-link:hover{
    color: var(--title-text-color) !important;
    transition: .2s linear;
}
.btn-primary:hover{
    background-color: var(--light-green) !important;
}
.btn-secondary:hover{
    background-color: var(--dark-green) !important;
}
i{
    transition: .2s linear;
}
a:hover i{
    color: var(--title-text-color) !important;
    transition: .2s linear;
}

.bg-dark-green{
    background-color: var(--dark-green);
}
.bg-light-green{
    background-color: var(--light-green);
}
.text-title-color{
    color: var(--title-text-color) !important;
}
.btn-primary{
    background-color: var(--dark-green) !important;
    border-color: var(--dark-green) !important;
}
.btn-secondary{
    background-color: var(--light-green) !important;
    border-color: var(--light-green) !important;
}
.card{
    transition: .4s;
}
.card:hover{
    transform: scale(1.05) !important;
    box-shadow: black !important;
    z-index: 1;
    transition: .4s;
}
.hero{
    height: 85vh;
}
.wrapper{
    position: relative;
    top: 57%;
    left: 10%;
}
.w-50{
    width: 50%;
}
.pdv{
    font-size: 15px !important;
}


@media (max-width:1200px){
    .no-padding{
        padding: 0 !important;
    }
    .card-width{
        max-width: 50vh !important;
    }
    
    
}
@media (max-width:991px) {
    .kozep{
        text-align: center !important;
    }
    .jc-center{
        justify-content: center !important;
    }
}
@media (max-width:991px) and (min-width:767px){
    .card-height{
        height: 350px !important;
    }
    .button-padding{
        margin-top: 14px !important;
    }
}
@media (max-width: 480px){
    .smaller-title{
        font-size: 32px !important;
    }
    .smaller-helikon{
        font-size: 37px !important;
    }
    .smaller-p{
        font-size: 15px !important;
    }
    .card-width{
        max-width: 40vh !important;
        height: 60vh !important;
    }
    .btn-resp{
        width: 20vh !important; height: 45px !important; 
    }
    .bigger-title{
        font-size: 42px !important;
    }
}

@media (max-width:360px) {
    .card-width{
        max-width: 33vh !important;
    }
    .top{
        top: 5% !important;
    }
}